.ContactSection {
  * {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
  }

  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  background-color: rgba(0, 0, 0, 0.85) !important;
  height: auto !important;

  .webix_view {
    background-color: transparent !important;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0; //top:0 & left:0 & bottom:0 & right:0;
    width: 100%;
    height: 100%;
    background-image: url(../../../../../assets/images/contact-section-bg.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
  }

  .ContactContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 48px;
    width: 100% !important;
    height: 100% !important;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .ContactContainerColumn {
      width: 100% !important;
      height: fit-content !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;

      @media (min-width: 1024px) {
        height: 100% !important;
      }

      &.LeftColumn {
        padding: 64px 20px 0 !important;

        @media (min-width: 1024px) {
          padding: 0 !important;
          align-items: flex-end !important;
        }

        .webix_view {
          max-width: 100%;

          @media (min-width: 768px) {
            max-width: 95%;
          }

          @media (min-width: 1024px) {
            max-width: 80%;
          }

          @media (min-width: 1200px) {
            max-width: 60%;
          }
        }

        .webix_view {
          width: 100% !important;

          .ContactSectionSummary {
            display: flex;
            flex-direction: column;
            gap: 32px;

            @media (min-width: 1024px) {
              gap: 56px;
            }

            .Texts {
              display: flex;
              flex-direction: column;
              gap: 12px;

              @media (min-width: 1024px) {
                gap: 24px;
              }

              .ContactSectionTitle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 8px;
                font-size: 28px;
                color: #cbcbcb;

                @media (min-width: 768px) {
                  font-size: 40px;
                }

                span {
                  font-weight: 500;
                  font-size: 32px;
                  color: #ffffff;

                  @media (min-width: 768px) {
                    font-size: 42px;
                  }
                }
              }

              .ContactSectionDescription {
                font-size: 14px;
                line-height: 21px;
                color: #dcdcdc;

                @media (min-width: 768px) {
                  font-size: 18px;
                  line-height: 27px;
                }
              }
            }

            .Articles {
              display: flex;
              flex-direction: column;
              gap: 24px;

              @media (min-width: 768px) {
                gap: 24px;
              }

              .Article {
                display: flex;
                align-items: center;
                gap: 12px;
                color: #ffffff;

                .ArticleTitle {
                  font-size: 16px;

                  @media (min-width: 768px) {
                    font-size: 21px;
                  }
                }
              }
            }
          }
        }
      }

      &.RightColumn {
        align-items: flex-start !important;
      }
    }
  }
}
