.Header {
  margin: 0 auto !important;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
}
.Header.HeaderBackgroundColor {
  background-color: #000000;
}
.Header .webix_scroll_cont {
  max-width: 1440px !important;
  flex: 1;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto !important;
}
@media (min-width: 1024px) {
  .Header .webix_scroll_cont {
    padding: 0 24px;
    justify-content: start;
  }
}
@media (min-width: 1440px) {
  .Header .webix_scroll_cont {
    padding: 0;
  }
}
.Header .Logo {
  height: 48px !important;
  min-width: 50%;
  display: flex !important;
  justify-content: center;
}
@media (min-width: 1024px) {
  .Header .Logo {
    min-width: 25%;
    display: inline-block !important;
  }
}
.Header .ProfileIcon,
.Header .CartIcon {
  background-color: transparent;
  border: none;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 2px 0 0 !important;
  margin-left: 16px !important;
  height: 48px !important;
}
.Header .ProfileIcon .webix_template,
.Header .CartIcon .webix_template {
  display: flex;
  align-items: center;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 !important;
}
.Header .LanguageSelect {
  max-width: -moz-max-content;
  max-width: max-content;
}
.Header .LanguageSelect .webix_el_box {
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  align-items: center;
}
.Header .LanguageSelect .webix_el_box .webix_inp_static {
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 0;
}
@media (min-width: 1024px) {
  .Header .LanguageSelect .webix_el_box .webix_inp_static {
    margin-top: 8px;
  }
}
.Header .LanguageSelect .webix_el_box .webix_input_icon {
  right: 0 !important;
  color: white;
  font-size: 12px;
  padding: 0 !important;
  height: auto !important;
  margin-top: -4px !important;
}
@media (min-width: 1024px) {
  .Header .LanguageSelect .webix_el_box .webix_input_icon {
    margin-top: 4px !important;
  }
}
.Header .PageSelector {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.Header .PageSelector .webix_el_box {
  width: 100% !important;
}
.Header .PageSelector .webix_el_box .webix_all_segments {
  width: 100% !important;
}
.Header .PageSelector .webix_el_box .webix_all_segments button {
  font-family: "Teachers", Arial, sans-serif;
  background: transparent !important;
  color: white !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 100% !important;
}
@media (min-width: 1024px) {
  .Header .PageSelector {
    display: inline-block !important;
    width: 60% !important;
  }
}
.Header .HeaderRightSide {
  display: none !important;
  width: 20% !important;
}
@media (min-width: 1024px) {
  .Header .HeaderRightSide {
    display: flex !important;
    justify-content: flex-end;
  }
}
.Header .MobilePageSelector {
  max-width: -moz-max-content;
  max-width: max-content;
}
.Header .MobilePageSelector .webix_el_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: -moz-max-content;
  max-width: max-content;
}
.Header .MobilePageSelector .webix_el_box button {
  line-height: unset !important;
  background-color: transparent !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 32px !important;
  height: 32px !important;
}
.Header .MobilePageSelector .webix_el_box button .webix_icon_btn {
  margin: 0 !important;
  color: white !important;
  font-size: 20px;
}
@media (min-width: 1024px) {
  .Header .MobilePageSelector {
    display: none !important;
  }
}

.MobileSideMenu {
  z-index: 10000 !important;
}
.MobileSideMenu .webix_view {
  background-color: white !important;
}
.MobileSideMenu .MobileSideMenuHeader {
  width: auto !important;
  height: auto !important;
  display: flex;
  align-items: center;
  padding: 32px 20px;
}
.MobileSideMenu .MobileSideMenuHeader .Logo {
  height: auto !important;
}
.MobileSideMenu .MobileSideMenuHeader .Logo .webix_template {
  padding: 0 !important;
}
.MobileSideMenu .MobileSideMenuHeader .MobileSideMenuCloseButton .webix_button {
  line-height: unset !important;
  background-color: transparent !important;
}
.MobileSideMenu .MobileSideMenuHeader .MobileSideMenuCloseButton .webix_button .webix_icon_btn {
  font-size: 24px;
  color: #000000;
  margin-right: 0;
}
.MobileSideMenu .MobileSideMenuHeader .MobileSideMenuCloseButton .webix_button:hover {
  background-color: transparent;
}
.MobileSideMenu .SideMenuItems.webix_list .webix_list_item {
  margin-top: 16px;
  padding: 1px 20px !important;
  height: 48px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #000000;
  border: none;
}
.MobileSideMenu .SideMenuItems.webix_list .webix_list_item:hover {
  background-color: transparent;
}
.MobileSideMenu .SideMenuItems.webix_list .webix_list_item.webix_selected {
  box-shadow: none;
  background-color: transparent;
}
.MobileSideMenu .SideMenuItems .SideMenuItemWrapper {
  height: 100% !important;
  border-bottom: 1px solid #e5e5e5;
}
.MobileSideMenu .SideMenuItems .SideMenuItemWrapper .webix_icon {
  font-size: 18px;
}
.MobileSideMenu .SideMenuItems .SideMenuItemWrapper.BackToMainMenu {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 100%;
  max-height: -moz-max-content !important;
  max-height: max-content !important;
  border: none !important;
}
.MobileSideMenu .SideMenuItems .BackToMainMenuButton {
  max-height: -moz-max-content;
  max-height: max-content;
  padding: 8px 8px 24px;
}
.MobileSideMenu .SideMenuItems .BackToMainMenuButton .webix_template {
  max-height: -moz-max-content;
  max-height: max-content;
}
.MobileSideMenu .SideMenuItems .BackToMainMenuButton:hover {
  cursor: pointer;
}
.MobileSideMenu .SideMenuFooter {
  padding: 0 !important;
  border: none;
}
.MobileSideMenu .SideMenuFooter .webix_template {
  padding: 32px 20px;
}
.MobileSideMenu .SideMenuFooter .webix_template .ContactContainer {
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.MobileSideMenu .SideMenuFooter .webix_template .ContactContainer .ContactDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.MobileSideMenu .SideMenuFooter .webix_template .ContactContainer .ContactDetails .PhoneNumber {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.MobileSideMenu .SideMenuFooter .webix_template .ContactContainer .ContactDetails .Hours {
  font-size: 14px;
  color: #a4a4a4;
  font-weight: 500;
}
.MobileSideMenu .SideMenuMultiview {
  height: 85vh !important;
}

.LanguageSelectPopup {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
}
.LanguageSelectPopup .webix_list_item {
  color: rgba(0, 0, 0, 0.8) !important;
  border-bottom: 1px solid #e9ecef !important;
}
.LanguageSelectPopup .webix_list_item:hover {
  background: transparent !important;
}
.LanguageSelectPopup .webix_list_item.webix_selected {
  border: none !important;
  box-shadow: none !important;
  font-weight: 600 !important;
  background: transparent !important;
}

.MobileSideMenu .webix_view {
  background-color: #f8f8f8; /* Light background like in the image */
}

/* Header Toolbar */
.MenuHeader .webix_el_box {
  padding: 10px 15px;
}

.MenuHeader .webix_el_label .webix_label {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

/* Styling for list items to match the image */
.MenuListItem .webix_list_item {
  padding: 0 15px;
  line-height: 50px !important;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.MenuListItem .webix_list_item span.mdi-chevron-right {
  color: #888;
}

/* Back Button Header */
.BrandsHeader {
  padding: 0 15px;
  cursor: pointer;
  line-height: 50px;
  font-size: 16px;
  color: #555;
  border-bottom: 1px solid #eee;
}

.BrandsHeader .mdi-chevron-left {
  margin-right: 5px;
}

/* Footer with contact info */
.MenuFooter {
  margin: 20px 15px;
  padding: 15px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  background-color: #fdfdfd;
}

.MenuFooter .contact-info {
  display: flex;
  align-items: center;
}

.MenuFooter .mdi-headset {
  font-size: 36px;
  color: #333;
  margin-right: 15px;
}

.MenuFooter .contact-details .phone-number {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.MenuFooter .contact-details .hours {
  font-size: 14px;
  color: #888;
}

.ContactSection {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  background-color: rgba(0, 0, 0, 0.85) !important;
  height: auto !important;
}
.ContactSection * {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  height: auto !important;
}
.ContactSection .webix_view {
  background-color: transparent !important;
}
.ContactSection::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../../../assets/images/contact-section-bg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
}
.ContactSection .ContactContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 48px;
  width: 100% !important;
  height: 100% !important;
}
@media (min-width: 1024px) {
  .ContactSection .ContactContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.ContactSection .ContactContainer .ContactContainerColumn {
  width: 100% !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
@media (min-width: 1024px) {
  .ContactSection .ContactContainer .ContactContainerColumn {
    height: 100% !important;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn {
  padding: 64px 20px 0 !important;
}
@media (min-width: 1024px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn {
    padding: 0 !important;
    align-items: flex-end !important;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view {
  max-width: 100%;
}
@media (min-width: 768px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view {
    max-width: 95%;
  }
}
@media (min-width: 1024px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view {
    max-width: 80%;
  }
}
@media (min-width: 1200px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view {
    max-width: 60%;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view {
  width: 100% !important;
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 1024px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary {
    gap: 56px;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 1024px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Texts {
    gap: 24px;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Texts .ContactSectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  font-size: 28px;
  color: #cbcbcb;
}
@media (min-width: 768px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Texts .ContactSectionTitle {
    font-size: 40px;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Texts .ContactSectionTitle span {
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Texts .ContactSectionTitle span {
    font-size: 42px;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Texts .ContactSectionDescription {
  font-size: 14px;
  line-height: 21px;
  color: #dcdcdc;
}
@media (min-width: 768px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Texts .ContactSectionDescription {
    font-size: 18px;
    line-height: 27px;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Articles {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Articles {
    gap: 24px;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Articles .Article {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
}
.ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Articles .Article .ArticleTitle {
  font-size: 16px;
}
@media (min-width: 768px) {
  .ContactSection .ContactContainer .ContactContainerColumn.LeftColumn .webix_view .ContactSectionSummary .Articles .Article .ArticleTitle {
    font-size: 21px;
  }
}
.ContactSection .ContactContainer .ContactContainerColumn.RightColumn {
  align-items: flex-start !important;
}

* {
  box-sizing: border-box !important;
}

body *:not(.webix_icon):not([class*=webix_icon_]):not([class*=webix_icon_]):not(.webix_input_icon) {
  font-family: "Teachers", Arial, sans-serif !important;
}
body.webix_full_screen {
  overflow-y: auto !important;
}

.MainLayout {
  position: relative !important;
}
.MainLayout .Logo {
  background-color: transparent !important;
  border: none !important;
}
.MainLayout .Logo .webix_template {
  padding: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
.MainLayout .Logo .webix_template img {
  max-width: 200px !important;
  margin: 0 !important;
}
.MainLayout .MainMultiview .webix_template:first-child {
  padding: 50px !important;
}
.MainLayout .MainMultiview .HomePage .webix_template:first-child {
  padding: 0 !important;
}/*# sourceMappingURL=styles.css.map */