@use "../js/components/shared/header/styles";
@import "../js/components/contact/contact-section/styles";

* {
  box-sizing: border-box !important;
}

body {
  * {
    &:not(.webix_icon):not([class*="webix_icon_"]):not(
        [class*="webix_icon_"]
      ):not(.webix_input_icon) {
      font-family: "Teachers", Arial, sans-serif !important;
    }
  }

  &.webix_full_screen {
    overflow-y: auto !important;
  }
}

.MainLayout {
  position: relative !important;

  .Logo {
    background-color: transparent !important;
    border: none !important;

    .webix_template {
      padding: 0 !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;

      img {
        max-width: 200px !important;
        margin: 0 !important;
      }
    }
  }

  .MainMultiview {
    .webix_template {
      &:first-child {
        padding: 50px !important;
      }
    }

    .HomePage {
      .webix_template {
        &:first-child {
          padding: 0 !important;
        }
      }
    }
  }
}
